---js
{
	title: "Liste des contenus générés pour Paris Web 2025",
	permalink: "pw-2025/index.html"
}
---
{% extends "base.njk" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
	<main role="main">
		<h1>Images générées pour Paris Web 2025</h1>
		<details>
			<summary><h2>Vignettes de partage</h2></summary>
			<ul>
				<li><a href="vignettes/base.svg">Base</a></li>
			</ul>
		</details>
	</main>
{% endblock %}
