---js
{
	title: "Liste des contenus générés pour Paris Web 2025",
	permalink: "pw-2025/index.html",
	pagination: {
		data: "pw_2025",
		size: 100,
		alias: "conferences"
	}
}
---
{% extends "base.njk" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
	<main role="main">
		<h1>Images générées pour Paris Web 2025</h1>
		<details>
			<summary><h2>Vignettes de partage</h2></summary>
			<ul>
				<li><a href="vignettes/base/base.svg">Base</a></li>
				<li><a href="vignettes/base/logo-badge.svg">Logo badge</a></li>
			</ul>
		</details>
		<details>
			<summary><h2>Conférences</h2></summary>
			<ul>
				{%- for conference in conferences %}
					{%- if conference.type === "Conférence" -%}
						<li><a href="vignettes/conferences/conf-{{ conference.title | slugify }}.svg">{{ conference.title | microtypo }}</a></li>
					{%- endif -%}
				{%- endfor %}
			</ul>
		</details>
		<details>
			<summary><h2>Ateliers</h2></summary>
			<ul>
				{%- for conference in conferences %}
					{%- if conference.type === "Atelier" -%}
						<li><a href="vignettes/ateliers/atelier-{{ conference.title | slugify }}.svg">{{ conference.title | microtypo }}</a></li>
					{%- endif -%}
				{%- endfor %}
			</ul>
		</details>
		<details>
			<summary><h2>Transitions</h2></summary>
			<ol>
				{%- for date, conferences in conferences | groupby("date") %}
					{%- if date === "2025-09-25" or date === "2025-09-26" -%}
						{%- if date === "2025-09-25" -%}
							{%- set day = "Jeudi"  %}
						{%- elseif date === "2025-09-26" -%}
							{%- set day = "Vendredi"  %}
						{%- endif -%}
						<li>
							<h3>{{ day }}</h3>
							<ol>
								{%- for conference in conferences | sort( false, true, "start") %}
									{%- if date === "2025-09-26" -%}
										{%- set index = loop.index + 13 -%}
									{%- elseif loop.index < 12 -%}
										{%- set index = "0" + (loop.index - 1) -%}
									{%- else -%}
										{%- set index = loop.index - 1 -%}
									{%- endif -%}
									<li><a href="cartons-titres/transitions/trans-{{ day | lower }}-{{ index }}.svg">{{ conference.title | microtypo }} ({{ conference.start | replace(':', 'h') }})</a></li>
								{%- endfor %}
							</ol>
						{%- endif -%}
					</li>
				{%- endfor %}
			</ol>
		</details>
		<details>
			<summary><h2>Arrière-plan</h2></summary>
			<ul>
					<li><a href="cartons-titres/background/background.svg">Arrière-plan</a></li>
			</ul>
		</details>
		<details>
			<summary><h2>Posters</h2></summary>
			<ul>
				{%- for conference in conferences %}
					{%- if conference.type === "Conférence" -%}
						<li><a href="cartons-titres/posters/post-{{ conference.title | slugify }}.svg">{{ conference.title | microtypo }}</a></li>
					{%- endif -%}
				{%- endfor %}
			</ul>
		</details>
	</main>
{% endblock %}
