<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
		<style>
			h2 {
				display: inline-block;
				margin: 0;
			}
		</style>
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
