---
pagination:
  data: pw-2023
  size: 1
  alias: conference
permalink: "{{ conference.title | slug }}.html"
---

{% extends "preview.njk" %}
{% block title %}{{ conference.title }}{% endblock %}
{% block content %}
	<header role="banner">
		Paris Web
	</header>
	<main role="main">
		<h1>{{ conference.speaker }}</h1>
		<ul>
			{%- for speaker in conference.speakers -%}
				<li>
					<img src="{{ speaker.avatar }}" alt="" width="64" height="64">
					{{ speaker.name }}
				</li>
			{%- endfor -%}
		</ul>
	</main>
	<aside role="complementary">
		<h2>Paris Web — <em>18<sup>e</sup> édition</em></h2>
		<p>Le {{ conference.date }} à {{ conference.time }}</p>
	</aside>
{% endblock %}
